<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Validação de Primeiro Acesso</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 0;
        padding: 0;
      }
      .container {
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
      }
      .header {
        background-color: orange;
        color: #fff;
        padding: 15px;
        text-align: center;
        border-radius: 10px 10px 0 0;
      }
      .header h1 {
        margin: 0;
        font-size: 24px;
      }
      .content {
        padding: 20px;
      }
      .content p {
        margin: 10px 0;
      }
      .content .button-container {
        text-align: center;
        margin-top: 20px;
      }
      .button-container .button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #2a6eb8;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
      }

      .footer {
        margin-top: 20px;
        text-align: center;
      }
      .footer p {
        color: #777;
        margin: 0;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Mypet Validação de Primeiro Acesso</h1>
      </div>
      <div class="content">
        <p>Bem-vindo(a) ao nosso sistema!</p>
        <p>
          Você está prestes a acessar sua conta pela primeira vez. Para garantir a segurança do processo, solicitamos
          que clique no botão abaixo para validar sua conta:
        </p>
        <div class="button-container">
          <a class="button" href="<%= code %>">Clique aqui</a>
        </div>
        <p>Após acessar o link, sua conta estará disponível para login.</p>

        <p>Atenciosamente,</p>
        <p>Equipe de My Pet</p>
      </div>
      <div class="footer">
        <p>Este é um e-mail automático. Por favor, não responda.</p>
      </div>
    </div>
  </body>
</html>
